body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

header .Contenedor {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.Contenedor {
  max-width: 1280px;
  width: 95%;
  margin: auto;
}

header {
  background-image: linear-gradient(
      rgba(125, 225, 209, 0.3),
      rgba(181, 237, 228, 0.3)
    ),
    url(../Imagenes/Frijol.jpg);
  height: 100vh;
  background-size: cover;
}

#Contenedor-Flex {
  display: flex;
  justify-content: center;
  margin: 18vh 0;
  max-width: 1580px;
  width: 100%;
}

h1 {
  font-size: 60px;
  color: #ffffff;
  margin: 0;
}

h2 {
  font-size: 25px;
  color: #ffffff;
}

.Contenedor-Titulo {
  text-align: center;
}

.Contenedor-Titulo a,
#Sobre-Nosotros a,
#Blog a,
#QueEsperas a,
#Contacto input[type="submit"] {
  font-size: 14px;
  color: #ffffff;
  background: #5cb8ff;
  padding: 14px 24px;
  width: 128px;
  display: inline-block;
}

p.Logo a {
  text-decoration: none;
  color: #ffffff;
}

p.Logo {
  color: #ffffff;
}

nav ul li a {
  color: #ffffff;
}

/* Seccion de sobre nosotros */

h3 {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
}

#Sobre-Nosotros .Contenedor-SobreNosotros {
  display: flex;
  justify-content: space-around;
}

#Sobre-Nosotros .Texto {
  line-height: 30px;
  width: 42%;
}

/* Seccion Servicios */

.Contenedor-Servicios {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  flex-wrap: wrap;
}

.Servicio {
  width: 24%;
  padding: 34px 30px 38px 30px;
  border-radius: 15px;
  margin-bottom: 40px;
  position: relative;
}

.Servicio h4 {
  font-size: 30px;
  margin: 0;
}

.Servicio p {
  margin-bottom: 20px;
  height: 194px;
}

.Contenedor-Servicios .Violeta {
  background: linear-gradient(to top, #5055df, #6d68f3);
  box-shadow: 0 12px 30px 0 rgba(80, 85, 223, 0.37);
}

.Contenedor-Servicios .Celeste {
  background: linear-gradient(to top, #40a8f9, #5cb8ff);
  box-shadow: 0 12px 30px 0 rgba(86, 163, 222, 0.3);
}

.Ondas {
  position: absolute;
  left: 0;
  bottom: 0;
}

.Icono {
  float: right;
}
/* Nuestros productos */
#NuestrosProductos {
  text-align: center;
  color: #000000;
}


button.owl-prev,
button.owl-next {
  font-size: 40px !important;
}

span {
  color: #71bcfa;
}

.ContenedorTrabajar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#PorqueTrabajar .Item {
  width: 28%;
  text-align: center;
}

#PorqueTrabajar ul li {
  list-style: none;
}

#PorqueTrabajar ul li:nth-child(2) {
  font-weight: bold;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#PorqueTrabajar ul li:nth-child(3) {
  line-height: 31px;
}

/* Seccion blog */

#Blog {
  background: #f9fafc;
}

#Blog .ContenedorPubli {
  display: flex;
  justify-content: space-around;
}

#Blog .Publicacion {
  width: 30%;
  box-shadow: 1px 1px 14px #cccccc;
}

#Blog img {
  width: 100%;
}

#Blog .ContenidoPubli {
  background: #ffffff;
  padding: 20px;
}

#Blog h4 {
  font-size: 23px;
  margin: 0;
  margin-bottom: 15px;
}

#Blog p {
  color: #373964;
  line-height: 24px;
  font-size: 16px;
}

#Blog a {
  width: 87px;
}

/* Seccion que esperas */
#QueEsperas {
  background: linear-gradient(rgba(84, 93, 220, 0.94), rgba(96, 171, 245, 0.9));
  text-align: center;
  padding: 50px 0;
  margin-top: 40px;
}

#QueEsperas h3 {
  font-size: 23px;
  color: #ffffff;
}

/* Seccion contacto */

#Contacto form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 77%;
  margin: auto;
}

input[type="text"],
input[type="email"] {
  width: 49%;
  margin-bottom: 15px;
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  font-size: 17px;
}

textarea {
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  font-size: 17px;
  margin-bottom: 40px;
  width: 100%;
}

#Contacto input[type="submit"] {
  width: 166px;
  margin: auto;
}

.ContactoInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.ContactoInfo img {
  width: 28px;
  vertical-align: middle;
  margin-right: 10px;
}

footer {
  background: #2f2f2f;
  padding: 40px 0;
  text-align: center;
  margin-top: 40px;
}

footer .Contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img {
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.4s;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 0.4s;
}

footer p {
  color: #ffffff;
  margin-top: 40px;
}

#Whatsapp {
  position: fixed;
  top: 80%;
  right: 1%;
  z-index: 100;
}

#Whatsapp img {
  transform: rotate(0);
  transition: 0.4s;
  z-index: 200;
}

#Whatsapp img:hover {
  transform: rotate(360deg);
  transition: 0.4s;
}

html {
  scroll-behavior: smooth;
}

#PorqueTrabajar,
#Contacto {
  padding: 55px 0;
}

#Sobre-Nosotros {
  padding: 10px 0;
}

#NuestrosProductos {
  padding: 8px 0;
}

#Servicio {
  padding: 15px 0;
}

.Menu-Icon {
  display: none;
}

@media (max-width: 800px) {
  .Menu-Icon {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 15px;
  }

  header nav {
    position: absolute;
    top: 83px;
    left: 0;
    height: 268px;
    background: #5cb8ff;
    width: 100%;
    display: none;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-bottom: 28px;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 19px;
  }

  #Sobre-Nosotros .Contenedor-SobreNosotros {
    flex-direction: column;
  }
  #Sobre-Nosotros img {
    width: 100%;
  }

  #Sobre-Nosotros .Texto {
    width: 100%;
  }

  .Contenedor-Servicios {
    flex-direction: column;
  }

  .Servicio {
    width: 82%;
    padding: 34px 30px 69px 30px;
  }

  .Icono {
    margin-top: 23px;
  }

  h3 {
    font-size: 43px;
  }

  .ContenedorTrabajar {
    flex-direction: column;
  }

  #PorqueTrabajar .Item {
    width: 100%;
  }

  .Item ul {
    padding: 0;
  }

  #Blog .ContenedorPubli {
    flex-direction: column;
  }

  #Blog .Publicacion {
    width: 100%;
    margin-top: 40px;
  }

  #Contacto form {
    width: 100%;
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  footer img {
    margin: 0 26px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  header {
    height: 70vh;
  }

  .Servicio {
    margin: auto;
    margin-bottom: 45px;
  }

  #Blog .Publicacion {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
}
