footer .Contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img {
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.4s;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 0.4s;
}

footer p {
  color: #ffffff;
  margin-top: 40px;
}
