#NuestrosProductos {
  text-align: center;
  color: #000000;
}

.carousel-control-next-icon {
  background-color: rgba(76, 76, 76, 1) !important;
}

.carousel-control-prev-icon {
  background-color: rgba(76, 76, 76, 1) !important;
}

#NuestrosProductos h3 {
  margin-bottom: 15px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  height: 580px;
}

#NuestrosProductos img {
width: 65%;
height: 575px;
margin: auto;
border-radius: 6px;
}