#NuestrosProductos {
  text-align: center;
  color: #000000;
}

#NuestrosProductos img {
  width: 960px;
  height: 960px;
}

.carousel-control-next-icon {
  background-color: rgba(76, 76, 76, 1) !important;
}

.carousel-control-prev-icon {
  background-color: rgba(76, 76, 76, 1) !important;
}

#NuestrosProductos h3 {
  margin-bottom: 15px;
}
