#QueEsperas {
  background: linear-gradient(rgba(84, 93, 220, 0.94), rgba(96, 171, 245, 0.9));
  text-align: center;
  padding: 50px 0;
  margin-top: 40px;
}

#QueEsperas h3 {
  font-size: 23px;
  color: #ffffff;
}
